@model List<Ebookio.Models.tbl_author>
@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="/Admin/AddAuthor">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" style="float:right">Add Author</button>
                </a>
                <h4 class="card-title">Author Details</h4>
                <br>
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>Srno.</th>
                            <th>Author Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int srno = 0; }
                        @foreach (var item in Model)
                        {
            <tr>
                <td>
                    @{ srno++; }
                    @srno
                </td>
                <td>@item.author_name</td>
                <td>
                    <a href="@Url.Action("EditAuthor",new { item.author_id })" class="btn btn-outline-secondary btn-sm edit" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a class="btn btn-outline-secondary btn-sm edit delete-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-id="@item.author_id" title="Trash">
                        <i class="fas fa-trash-alt"></i>
                    </a>

                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Warning!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want to delete?</p>
            </div>
            <form action="/Admin/DeleteAuthor" method="post">
                <div class="modal-footer">
                    <input type="hidden" name="deleteid" id="deleteid">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary" name="btndelete" id="btndelete">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/pages/modal.init.js"></script>
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>


<script src="~/assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-btn").click(function () {
            var id = $(this).attr('data-id')
            $("#deleteid").val(id);
        })
    })

    var strvalue = "@((string)ViewBag.msg)";
	if(strvalue !== null && strvalue !== '')
    {
	swal("",strvalue,"success");
    }

</script>

